# Fichiers temporaires
*.tmp
*.log
*.swp

# Dossiers de build
build/
dist/

# Environnements virtuels
venv/
env/
.venv/

# Fichiers de configuration sensibles
.env
*.env

# Dossiers de données Docker
data/
registry-data/

# Fichiers système
.DS_Store
Thumbs.db

# Logs Docker
docker-compose-logs.txt
